{% extends "templates/template.html.twig" %}
{% block title %}
    {% if form.vars.value.id == null %}
        Create New Project
    {% else %}
        Edit Project
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <a href="{{ path("project_list") }}">Projects</a> / Create new Project
                </div>
                <div class="fs-lg">Create New Project</div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12">
                {{ form_start(form) }}
                    {{ form_row(form.code) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.isClosed) }}
                    <button class="btn btn-primary btn-block">Save</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}