{% extends "templates/template.html.twig" %}
{% block title %}
    Projects
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="fs-xlg text-left">My Projects</div>
            </div>
            <div class="col-md-2 text-right">
                <a href="{{ path("project_create") }}" class="add btn btn-primary">Add</a href="{{ path("project_create") }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path("project_search") }}" method="POST">
                    <input type="search" name="search" class="form-control"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if entities|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Designation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in entities %}
                            <tr>
                                <td>
                                    <a href="{{ path("project_view",{'id' : e.id }) }}">
                                        {{ e.code }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path("project_view",{'id' : e.id }) }}">
                                        {{ e.name }}
                                    </a>
                                </td>
                                <td>
                                    <a class="actions" href="{{ path('project_edit',{'id' : e.id }) }}">
                                        <i class="icon ion-android-create"></i>
                                    </a>
                                    <a class="actions delete" href="{{ path('project_delete') }}" item-id="{{ e.id }}">
                                        <i class="icon ion-android-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    {{ knp_pagination_render(entities) }}
                </div>
                {% else %}
                    <div class="text-center">
                        No project saved.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}